<div class="jumbotron text-center">
    <h1>Contact</h1>

    <br/><br/>

    <p>Send your e-mail</p>

    <div class="form-horizontal form-group form-group-lg row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-7 col-sm-offset-1 col-md-8 col-md-offset-2">
            {{input type="email" value=emailAddress class="form-control" placeholder="Please type your e-mail address." autofocus="autofocus"}}
        
          <div class="alert alert-success">
          {{textarea class="form-control" placeholder="Your message. (At least 5 characters.)" rows="7" value=message}}
          </div>
          <button class="btn btn-primary btn-lg btn-block" {{action 'sendMessage'}} disabled={{isDisabled}}>Send message </button>
            {{#if responseMessage}}
                {{responseMessage}} 
            {{/if}}           
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-4 col-md-3">
             
        </div>
         
    </div>
    <br/><br/>
</div>